.posts{
    width: 100%;
    padding-bottom: 2rem;
}

.Posts__container{
    display: flex;
    justify-content: space-between;
}

.mobile_pencil_btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.75rem;
    border-radius: 100%;
    background-color: #F0568A;
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}

.mobile_pencil_btn:hover, .mobile_pencil_btn:active{
    background: linear-gradient(0deg, #FF5C5F 0%, #ff4c8e 100%);
}

@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){
    .posts{
        padding: 1rem 3rem 3rem 3rem;
    }
}

@media only screen and (min-width: 768px){
    .mobile_pencil_btn{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .posts{
        padding: 1rem 4.5rem 4.5rem 4rem;
    }
}

@media only screen and (min-width: 1200px){
    .posts{
        padding: 1rem 6.5rem 4.5rem 6.5rem;
    }
}

@media only screen and (min-width: 1440px){
    .posts{
        padding: 1rem 12rem 4.5rem 12rem;
    }
}

@media only screen and (min-width: 1536px){
    .posts{
        padding: 2rem 6rem 5rem 6rem;
    }
}