.postnav{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--light);
}

.post_mnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_mnav > a{
    text-decoration: none;
    color: var(--dark);
    font-size: 0.875rem;
    font-weight: 700;
}

.post_pnav{
    display: none;
    align-items: center;
    justify-content: space-between;
}

.pnav_menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pnav_menu_items{
    cursor: pointer;
    text-decoration: none;
    color: var(--slate-3);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    transition: color 200ms;
}

.pnav_menu_items.active{
    color: var(--dark);
}

.pnav_menu_items::after{
    transform: translateY(1.25rem);
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--dark);
    transition: width 200ms;
}

.pnav_menu_items.active::after{
    width: 100%;
}

.pnav_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn.bg-blue{
    border: 1px solid var(--blue);
}

.btn.bg-blue.joined{
    background-color: var(--light);
    color: var(--slate-6);
    border-color: var(--slate-5);
}

@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){
    .postnav{
        padding: 0.5rem 0 0.8rem 0;
        border-bottom: 1px solid var(--slate-2);
    }
    .post_mnav{
        display: none;
    }
    .post_pnav{
        display: flex;
    }

}

@media only screen and (min-width: 1024px){
    .postnav{
        padding: 0.5rem 0 0.6rem 0;
    }
}

@media only screen and (min-width: 1200px){
    
}

@media only screen and (min-width: 1440px){

}

@media only screen and (min-width: 1536px){

}